<div class="transaction">
    <h2 class="transaction-title">
        Danh sách giao dịch
    </h2>
    <div class="px-md-4">
        <div class="table-responsive">
            <table id="transaction-table" class="table">
                <thead>
                    <tr>
                        <th style="min-width: 100px;">ID</th>
                        <th style="min-width: 150px;">Loại giao dịch</th>
                        <th style="min-width: 200px;">Số tiền</th>
                        <th style="min-width: 120px;">Ngày tạo</th>
                        <th style="min-width: 120px;">Tình trạng</th>
                        <th style="min-width: 120px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="transaction-table__item">
                        <td class="align-middle">
                            <a href="/admin/transactions/000001">
                                <b>000001</b>
                            </a>
                        </td>
                        <td class="align-middle">
                            <b>Chuyển tiền</b>
                        </td>
                        <td class="align-middle">
                            12.000.000đ
                        </td>
                        <td class="align-middle">
                            10/05/2022
                        </td>
                        <td class="align-middle">
                            <b class="text-success">Xác nhận</b>
                        </td>
                        <td class="align-middle">
                            <a href="/admin/transactions/000001" type="button" class="btn btn-outline-primary">
                                Xem chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr class="transaction-table__item">
                        <td class="align-middle">
                            <a href="/admin/transactions/000002">
                                <b>000002</b>
                            </a>
                        </td>
                        <td class="align-middle">
                            <b>Rút tiền</b>
                        </td>
                        <td class="align-middle">
                            10.000.000đ
                        </td>
                        <td class="align-middle">
                            08/05/2022
                        </td>
                        <td class="align-middle">
                            <b class="text-danger">Hủy</b>
                        </td>
                        <td class="align-middle">
                            <a href="/admin/transactions/000002" type="button" class="btn btn-outline-primary">
                                Xem chi tiết
                            </a>
                        </td>
                    </tr>
                    <tr class="transaction-table__item">
                        <td class="align-middle">
                            <a href="/admin/transactions/000003">
                                <b>000003</b>
                            </a>
                        </td>
                        <td class="align-middle">
                            <b>Rút tiền</b>
                        </td>
                        <td class="align-middle">
                            10.000.000đ
                        </td>
                        <td class="align-middle">
                            02/05/2022
                        </td>
                        <td class="align-middle">
                            <b class="text-secondary">Chờ duyệt</b>
                        </td>
                        <td class="align-middle">
                            <a href="/admin/transactions/000003" type="button" class="btn btn-outline-primary">
                                Xem chi tiết
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button id="transaction-load-btn" type="button" class="btn btn-primary">Xem thêm</button>
    </div>
</div>