<div class="account">
    <h2 class="account-title">
        Danh sách tài khoản
    </h2>
    <ul class="account-filters">
        <li class="account-filter">
            Trạng thái tài khoản:
            <select name="" id="account-status-select">
                <option value="active">Kích hoạt</option>
                <option value="wait-active">Chờ kích hoạt</option>
                <option value="disable">Bị vô hiệu</option>
                <option value="lock">Bị khóa</option>
            </select>
        </li>
    </ul>
    <div class="px-md-4">
        <div class="table-responsive">
            <table id="account-table" class="table active">
                <thead>
                    <tr>
                        <th style="min-width: 100px;">ID</th>
                        <th style="min-width: 150px;">Tên tài khoản</th>
                        <th style="min-width: 200px;">Tên người dùng</th>
                        <th style="min-width: 120px;">Tình trạng</th>
                        <th style="min-width: 120px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="account-table__item">
                        <td class="align-middle">
                            <a href="/admin/accounts/51900000">
                                <b>51900000</b>
                            </a>
                        </td>
                        <td class="align-middle">
                            hoangvu
                        </td>
                        <td class="align-middle">
                            Nguyễn Võ Hoàng Vũ
                        </td>
                        <td class="account-table__item-status align-middle">
                            <b>Kích hoạt</b>
                        </td>
                        <td class="align-middle">
                            <a href="/admin/accounts/51900000" type="button" class="btn btn-outline-primary">
                                Xem chi tiết
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button id="account-load-btn" type="button" class="btn btn-primary">Xem thêm</button>
    </div>
</div>

<script>
    const accountStatusSelect = $('#account-status-select')

    accountStatusSelect.change(function() {
        const selectType = $(this).val()

        $('#account-table').attr('class', `table ${selectType}`)
    })
</script>
