.recovery2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/login.jpg');
    background-size: cover;
}

.recovery2__wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 70px 80px;
    border-radius: 12px;
}

.recovery2__title {
    text-transform: uppercase;
    margin-bottom: 60px;
}

.recovery2__form {
    width: 100%;
}

.recovery2__form input {
    margin-bottom: 12px;
}

.recovery2__form-control button {
    width: 100%;
    margin-top: 12px;
}

.recovery2__form-control span {
    display: inline-block;
    z-index: 100;
    font-size: 14px;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
    .recovery2__wrapper {
        padding: 60px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .recovery2__wrapper {
        padding: 60px 20px;
    }
}

