	<div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title"><i class="fa fa-fw fa-file"></i> Mua thẻ điện thoại </h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Mua thẻ điện thoại</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="mb-0">Mua thẻ điện thoại</h4>
                                        </div>
                                        <div class="card-body">
                                            <form name="" class="needs-validation" novalidate="">
												<label for="nhamang">Chọn nhà mạng:</label>
												<select class="form-select col d-flex justify-content-center">
												  <option selected></option>
												  <option value="Viettel">Viettel</option>
												  <option value="MobilePhone">MobilePhone</option>
												  <option value="VinaPhone">VinaPhone</option>
												</select>
												
												<label for="nhamang">Chọn mệnh giá:</label>
												<select class="form-select col d-flex justify-content-center">
												  <option selected></option>
												  <option value="10000">10000 VNĐ</option>
												  <option value="20000">20000 VNĐ</option>
												  <option value="50000">50000 VNĐ</option>
												  <option value="100000">100000 VNĐ</option>
												</select>
												
												<label for="nhamang">Số lượng:</label>
												<select class="form-select col d-flex justify-content-center">
												  <option selected></option>
												  <option value="1">1</option>
												  <option value="2">2</option>
												  <option value="3">3</option>
												  <option value="4">4</option>
												  <option value="5">5</option>
												</select>
												
												<div class="col-md-12 mb-3">
                                                        Phí giao dịch: 0đ
                                                </div>
												<h3>Tổng cộng: 50000đ</h3>
												
												<div class="form-group row text-right">
                                                    <div class="col col-sm-10 col-lg-12 offset-lg-0">
                                                        <button type="submit" class="btn btn-space btn-primary">Xác nhận</button>
                                                        <button class="btn btn-space btn-secondary">Hủy</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
			

            
        </div>
    </div>