<div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title"><i class="fa fa-fw fa-file"></i> Chi tiết giao dịch </h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Chi tiết giao dịch</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="mb-0"> Chi tiết giao dịch</h4>
                                        </div>
                                        <div class="card-body">
                                            <form name="" class="needs-validation" novalidate="">
                                                <div class="col-12 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Mã giao dịch:</label>
														<span>123456</span>
													</div>
												</div>
												<div class="col-12 col-xl-6 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Trạng thái</label>
														<span>Thành công</span>
													</div>
												</div>
												<div class="col-12 col-xl-6 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Phí giao dich:</label>
														<span>1000đ</span>
													</div>
												</div>
												
												<div class="col-12 col-xl-6 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Số điện thoại người nhận:</label>
														<span>0123456789</span>
													</div>
												</div>
												<div class="col-12 col-xl-6 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Nội dung chuyển khoản:</label>
														<span>Chuyển tiền</span>
													</div>
												</div>
												<div class="col-12 col-xl-6 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Nhà mạng :</label>
														<span>Viettel</span>
													</div>
												</div>
												<div class="col-12 col-xl-6 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Loại thẻ:</label>
														<span>10000đ</span>
													</div>
												</div>
												<div class="col-12 col-xl-6 ml-5">
													<div class="form-group mb-2">
														<label class="font-weight-bold">Số lượng:</label>
														<span>2</span>
													</div>
												</div>
												
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
			
				
				
	</div>