<link rel="stylesheet" href="/css/recovery2.css">

<div class="recovery2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-4 offset-xl-4">
                <div class="recovery2__wrapper">
                    <h2 class="recovery2__title">Quên mật khẩu</h2>
                    <form id="submit-form" class="recovery2__form needs-validation" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" required
                                placeholder="Mã OTP">
                            <div class="invalid-feedback">
                                Vui lòng nhập mã OTP!
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" required
                                placeholder="Mật khẩu mới">
                            <div class="invalid-feedback">
                                Vui lòng nhập mật khẩu mới!
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" required
                                placeholder="Xác thực mật khẩu">
                            <div class="invalid-feedback">
                                Vui lòng xác thực mật khẩu!
                            </div>
                        </div>
                        <div class="recovery2__form-control">
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const form = document.getElementById("submit-form")

        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
    })
</script>
