<link rel="stylesheet" href="/css/recovery.css">

<div class="recovery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-4 offset-xl-4">
                <div class="recovery__wrapper">
                    <h2 class="recovery__title">Quên mật khẩu</h2>
                    <form id="submit-form" class="recovery__form needs-validation" novalidate>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" required
                                placeholder="Email đăng ký">
                            <div class="invalid-feedback">
                                Vui lòng nhập email!
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="phone" required
                                placeholder="Số điện thoại đăng ký">
                            <div class="invalid-feedback">
                                Vui lòng nhập số điện thoại!
                            </div>
                        </div>
                        <div class="recovery__form-control">
                            <button type="submit" class="btn btn-primary">Tiếp theo</button>
                            <div class="d-flex justify-content-center mt-4">
                                <a href="/login">Quay lại đăng nhập</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const form = document.getElementById("submit-form")

        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
    })
</script>
