<link rel="stylesheet" href="/css/register.css">

<div class="register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-6 offset-xl-3">
                <div class="register__wrapper">
                    <h2 class="register__title">Đăng ký</h2>
                    <form id="submit-form" class="register__form needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" id="phone" required
                                        placeholder="Số điện thoại">
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số điện thoại!
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" required placeholder="Email">
                                    <div class="invalid-feedback">
                                        Vui lòng nhập email!
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" required placeholder="Họ và tên">
                                    <div class="invalid-feedback">
                                        Vui lòng nhập họ và tên!
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="date" class="form-control" id="birthdate" required
                                        placeholder="Họ và tên">
                                    <div class="invalid-feedback">
                                        Vui lòng chọn ngày sinh!
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group register__form-card">
                                    <label class="mb-2">Ảnh CMND/CCCD (trước):</label>
                                    <div class="register__form-card-wrapper">
                                        <img id="register__form-view1" src="/images/image-default.jpg"
                                            alt="Image">
                                        <input type="file" class="form-control d-none" id="register__form-file1"
                                            accept="image/*" required placeholder="Họ và tên">
                                        <label for="register__form-file1">
                                            <i class="fa-solid fa-camera"></i>
                                        </label>
                                        <div class="invalid-feedback">
                                            Vui lòng tải ảnh mặt trước CMND/CCCD
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group register__form-card">
                                    <label class="mb-2">Ảnh CMND/CCCD (sau):</label>
                                    <div class="register__form-card-wrapper">
                                        <img id="register__form-view2" src="/images/image-default.jpg"
                                            alt="Image">
                                        <input type="file" class="form-control d-none" id="register__form-file2"
                                            accept="image/*" required placeholder="Họ và tên">
                                        <label for="register__form-file2">
                                            <i class="fa-solid fa-camera"></i>
                                        </label>
                                        <div class="invalid-feedback">
                                            Vui lòng tải ảnh mặt sau CMND/CCCD
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="register__form-control">
                                    <button type="submit" class="btn btn-primary">Đăng ký ngay</button>
                                    <div class="d-flex justify-content-center mt-4">
                                        <a href="/login">Quay lại đăng nhập</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const form = document.getElementById('submit-form')
        const fileInput1 = document.getElementById('register__form-file1')
        const fileInput2 = document.getElementById('register__form-file2')
        const imageView1 = document.getElementById('register__form-view1')
        const imageView2 = document.getElementById('register__form-view2')

        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)

        // Sự kiện thêm ảnh mặt trước
        fileInput1.addEventListener('change', function (e) {
            if (fileInput1.files.lenght !== 0) {
                const file = e.target.files[0]
                const reader = new FileReader()

                reader.onload = function (e) {
                    imageView1.setAttribute('src', e.target.result)
                }

                reader.readAsDataURL(file)
            }
        })

        // Sự kiện thêm ảnh mặt sau
        fileInput2.addEventListener('change', function (e) {
            if (fileInput2.files.lenght !== 0) {
                const file = e.target.files[0]
                const reader = new FileReader()

                reader.onload = function (e) {
                    imageView2.setAttribute('src', e.target.result)
                }

                reader.readAsDataURL(file)
            }
        })
    })
</script>