<link rel="stylesheet" href="/css/admin/style.css">

<div class="admin-header">
    <div class="admin-header__left">
        <a href="/admin/accounts" class="admin-header__logo">
            <img src="/images/logo.jpg" alt="Logo">
            <span class="d-none d-md-block">Ví điện tử AVAT</span>
        </a>
    </div>
    <div class="admin-header__right">
        <span>
            Xin chào, <b>Admin</b>
        </span>
    </div>
</div>