<div class="admin-sitebar">
    <div class="admin-sitebar__wrapper {{active}}">
        <h5 class="admin-sitebar__title">Quản lý</h5>
        <ul class="admin-sitebar__list">
            <li class="admin-sitebar__item admin-sitebar__title--account">
                <a href="/admin/accounts">
                    <i class="fa-solid fa-user"></i>
                    Tài khoản
                </a>
            </li>
            <li class="admin-sitebar__item admin-sitebar__title--transaction">
                <a href="/admin/transactions">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    Giao dịch
                </a>
            </li>
        </ul>

        <h5 class="admin-sitebar__title">Khác</h5>
        <ul class="admin-sitebar__list">
            <li class="admin-sitebar__item">
                <a href="/admin">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>
</div>